<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "自己主張は、何レベル？" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(site: "自己主張レベル診断", reverse: true) %>
  </head>
  <body></body>
</html>